In [1]:
print("My first python Program")

My first python Program

#### Variables in Python

In [2]:
favorite_color = "blue"

In [3]:
favorite_color

'blue'

In [4]:
favorite_color = "green"

In [5]:
favorite_color

'green'

#### Data Types in Python

In [8]:
# Integers
age = 10
number_of_toys = 25

# Floating-Point Numbers
pi = 3.14
temperature = 25.5

# Boolean
is_sunny = True
is_raining = False

# String
name = "Alice"
favorite_color = "blue"
greeting = "Hello, how are you?"

# complex
complex_number=3+4j

In [10]:
a=10
a

10

In [11]:
type(a)

int

In [12]:
a=5.933
a

5.933

In [13]:
type(a)

float

In [17]:
a=False
a

False

In [18]:
type(a)

bool

In [14]:
a=" My name is Shailja"
a

' My name is Shailja'

In [15]:
type(a)

str

In [19]:
a=2+7j
a

(2+7j)

In [20]:
type(a)

complex

#### Comments in Python 

* In Python, comments are lines of text that are not executed as part of the program. They are used to provide explanations, notes, or reminders to the programmers or other readers of the code. Comments are ignored by the Python interpreter, so they have no effect on the program's functionality.

* Comments are incredibly helpful because they make the code more readable and understandable. They allow programmers to explain their code, describe the purpose of certain sections, or leave reminders for future updates.

In [25]:
#This is a single-line comment.

In [28]:
This is a single-line comment.

SyntaxError: invalid syntax (3482766077.py, line 1)

In [26]:
'''
This is a multi-line comment.
You can write as much as you want in here.
Comments are really useful!
'''

'\nThis is a multi-line comment.\nYou can write as much as you want in here.\nComments are really useful!\n'

In [27]:
This is a multi-line comment.
You can write as much as you want in here.
Comments are really useful!

SyntaxError: invalid syntax (2049392598.py, line 1)

### Operators in Python

#### Arithmetic Operators:
Arithmetic operators are used to perform basic mathematical operations.

In [31]:
a = 10
b = 5
a,b

(10, 5)

In [32]:
a+b

15

In [33]:
a-b

5

In [34]:
a*b

50

In [35]:
a/b

2.0

In [36]:
a%b  # Modulus (returns the remainder of the division)

0

#### Relational Operators:
Relational operators are used to compare values and return True or False.

In [38]:
a = 100
b = 50

a,b

(100, 50)

In [39]:
# Equal to
a == b

False

In [41]:
# Not equal to
a != b

True

In [42]:
# Greater than
a > b

True

In [43]:
# Less than
a < b

False

In [44]:
# Greater than or equal to
a >= b

True

In [45]:
# Less than or equal to
a <= b

False

### Logical Operators
Logical operators are used to combine multiple conditions and return True or False.

In [46]:
x = True
y = False

In [47]:
# Logical AND (both conditions must be True for the result to be True)
x and y

False

In [50]:
x & y

False

In [48]:
# Logical OR (at least one condition must be True for the result to be True)
x or y

True

In [51]:
x| y

True

In [49]:
# Logical NOT (inverts the result)
not x

False

#### Assignment Operators:
Assignment operators are used to assign values to variables.

In [52]:
a = 10  # Simple assignment
a

10

In [54]:
# Addition assignment (same as a = a + 5)
a += 5 
a

20

In [55]:
# Subtraction assignment (same as a = a - 3)
a -= 3 
a

17

In [56]:
# Multiplication assignment (same as a = a * 2)
a *= 2 
a

34

In [57]:
# Division assignment (same as a = a / 4)
a /= 4 
a

8.5

### Python Tokens

In Python, a token is the smallest unit or building block of a program. It could be a keyword, identifier, operator, literal value, or any other meaningful part of the code. Tokens are essential for the Python interpreter to understand and parse the code correctly.

#### Keywords
Keywords are reserved words in Python, and they have a specific meaning in the language. They cannot be used as variable names because Python treats them as special tokens.

In [1]:
True

True

In [ ]:
def

In [2]:
True="a"

SyntaxError: cannot assign to True (1946322174.py, line 1)

In [ ]:
# Here, "if" and "else" are keywords.
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

#### Identifiers
Identifiers are names given to variables, functions, classes, or other objects in Python. They help us refer to specific parts of the code.

In [11]:
# "count" and "result" are identifiers.
count = 10
result = count * 2

In [12]:
Count=2

In [13]:
count

10

In [10]:
Count

2

#### Literals
Literals are constant values that appear directly in the code. They can be numbers, strings, or Boolean values.

In [14]:
number_of_students = 5

In [ ]:
pi = 3.14

In [ ]:
greeting = 'Hello'

In [ ]:
is_raining = True

In [ ]:
# "5" and "3.14" are numeric literals, and "'Hello'" is a string literal.

### Python String

#### Creating a string:

In [21]:
# Using single quotes

name = 'Shailja'


name

'Shailja'

In [22]:
# Using double quotes

message = "Hello, how are you?"

message

'Hello, how are you?'

In [23]:
# Using triple quotes for multi-line strings

multiline_string = '''

This is a multi-line
string in Python.
It can span across multiple lines.

'''

multiline_string

'\n\nThis is a multi-line\nstring in Python.\nIt can span across multiple lines.\n\n'

####                Extracting Individual Characters
You can access individual characters in a string using indexing. The index starts from 0 for the first character, 1 for the second, and so on.

In [28]:
message = "Hello"

In [29]:
message[0]

'H'

In [30]:
message[4]

'o'

In [32]:
message[-1]

'o'

###### String(start:stop:step)

In [41]:
message[0:4]

'Hell'

In [42]:
message[0:4:2]

'Hl'

#### String Functions
Strings have several built-in methods that allow you to perform various operations on them.

In [46]:
message = "Hello, how are you?"

In [50]:
len(message)

19

In [51]:
message.upper()

'HELLO, HOW ARE YOU?'

In [52]:
message.lower()

'hello, how are you?'

In [54]:
message.replace('H','z')

'zello, how are you?'

In [61]:
str1= "Hello Hello folks"

In [62]:
str1.count("Hello")

2

In [63]:
str1.find("folks")

12

In [60]:
# Splitting the string into a list of words

message.split()

['Hello,', 'how', 'are', 'you?']