### Searching and Sorting

Searching:

*  list.index(element): Returns the index of the first occurrence of element in the list.
*  element in list: Returns True if element is in the list, otherwise False.

Sorting:

* sorted(iterable): Returns a sorted list from the elements in iterable.
* list.sort(): Sorts the elements of a list in place

In [2]:
numbers = [4, 2, 7, 1, 9, 5]

# Searching
index = numbers.index(7)
print("Index of 7:", index)

Index of 7: 2

In [3]:
# Searching
if 5 in numbers:
    print("5 is in the list")

5 is in the list

In [5]:
# Sorting
sorted_numbers = sorted(numbers)
print("Sorted numbers:", sorted_numbers)

Sorted numbers: [1, 2, 4, 5, 7, 9]

In [6]:
# Sorting
numbers.sort()  # Sorts the list in place
print("Sorted list:", numbers)

Sorted list: [1, 2, 4, 5, 7, 9]

You can sort in descending order by providing the reverse parameter to the sorted() function or using the list.sort() method. Here's how you can do it:

In [7]:
numbers = [4, 2, 7, 1, 9, 5]

sorted_descending = sorted(numbers, reverse=True)
print("Descending order:", sorted_descending)

Descending order: [9, 7, 5, 4, 2, 1]

In [8]:
numbers = [4, 2, 7, 1, 9, 5]

numbers.sort(reverse=True)
print("Descending order (in place):", numbers)

Descending order (in place): [9, 7, 5, 4, 2, 1]

#### Input() in Python

The input() function is used to prompt the user for input. It allows you to interactively gather data from the user during the execution of a program. When input() is called, the program will pause and wait for the user to type in some text, followed by pressing the "Enter" key.

Here's a basic example of how input() works:

In [ ]:
name = input("Please enter your name: ")
print("Hello, " + name + "! Welcome to the program.")

In this example, the program prompts the user to enter their name using the message provided as an argument to input(). The user types their name and presses "Enter". The entered text is then assigned to the variable name, and the program continues executing, printing a personalized welcome message.

Keep in mind a couple of important things about input():

* The input provided by the user is always treated as a string, even if the user enters a number. You may need to convert the input to the appropriate data type using functions like int() or float().

* The input() function will include any text the user enters, including spaces. You can use string manipulation functions like strip() to remove leading or trailing spaces if needed.

Here's an example demonstrating the first point:

In [9]:
age = input("Please enter your age: ")
age = int(age)  # Convert the input string to an integer
years_until_100 = 100 - age
print("You have", years_until_100, "years until you turn 100!")

Please enter your age:  24

You have 76 years until you turn 100!

Remember to handle user input carefully, as unexpected input can lead to errors. You might want to consider using error handling mechanisms like try and except to handle cases where the user enters input that cannot be converted to the expected data type.

#### String Formatting in Python

String formatting in Python allows you to create strings by embedding variables or values within them. Python provides several ways to format strings, and I'll introduce you to some common methods:

* String Concatenation: You can concatenate strings and variables using the + operator:

In [11]:
name = "Alice"
age = 30
message = "My name is " + name + " and I am " + str(age) + " years old."
message

'My name is Alice and I am 30 years old.'

* String Interpolation (f-strings, Python 3.6+):
F-strings provide a concise way to embed expressions inside string literals, using curly braces {}:

In [12]:
name = "Bob"
age = 25
message = f"My name is {name} and I am {age} years old."
message

'My name is Bob and I am 25 years old.'

* str.format() Method:
You can use the str.format() method to insert values into placeholders within a string:

In [14]:
name = "Charlie"
age = 40
message = "My name is {} and I am {} years old.".format(name, age)
message

'My name is Charlie and I am 40 years old.'

* Percentage Formatting (Older method):
This method uses the % operator to format strings. It's less preferred than f-strings and str.format():

In [16]:
name = "David"
age = 35
message = "My name is %s and I am %d years old." % (name, age)
message

'My name is David and I am 35 years old.'

* Template Strings:
Python also offers a module called string.Template for more advanced string formatting, which can be useful for certain scenarios:

In [17]:
from string import Template
name = "Eve"
age = 28
template = Template("My name is $name and I am $age years old.")
message = template.substitute(name=name, age=age)
message

'My name is Eve and I am 28 years old.'

F-strings and str.format() are generally recommended due to their readability and flexibility. They allow you to easily format strings while including variables and expressions. Always consider using these modern methods for string formatting in Python.

#### int32 int64, float64

The terms "int32," "int64," and "float64" refer to specific data types with different sizes and capabilities

* int32 (Integer 32-bit):

Represents signed integers (whole numbers).
Takes up 32 bits of memory (4 bytes).
Can store values in the range from approximately -2 billion to +2 billion.
Useful for conserving memory when dealing with large arrays of integers that fit within this range.

* int64 (Integer 64-bit):

Represents signed integers (whole numbers).
Takes up 64 bits of memory (8 bytes).
Can store much larger values than int32, with a range from approximately -9 quintillion to +9 quintillion.
Useful when you need to work with larger integer values.

* float64 (Floating-Point 64-bit):

Represents floating-point numbers (decimal numbers) with double precision.
Takes up 64 bits of memory (8 bytes).
Provides a wider range and higher precision compared to float32.
Suitable for scientific and engineering calculations that require higher precision.
In Python, the built-in int and float types don't have fixed sizes like int32, int64, or float64 because Python dynamically adjusts the memory size based on the value. However, you can achieve similar functionality and fixed-size behavior using libraries like numpy.

Here's an example demonstrating the differences using numpy:

In [18]:
import numpy as np

# int32 and int64
int32_array = np.array([1, 2, 3], dtype=np.int32)
int64_array = np.array([1, 2, 3], dtype=np.int64)

# float64
float64_array = np.array([1.1, 2.2, 3.3], dtype=np.float64)

print("int32 array:", int32_array)
print("int64 array:", int64_array)
print("float64 array:", float64_array)

int32 array: [1 2 3]
int64 array: [1 2 3]
float64 array: [1.1 2.2 3.3]

In [20]:
import numpy as np

arr = np.array([1, 0, 3])

newarr = arr.astype(bool)

print(newarr)
print(newarr.dtype)

[ True False  True]
bool

#### Inheritance

Inheritance is a fundamental concept in object-oriented programming where a new class (subclass or derived class) can inherit properties and behaviors from an existing class (base class or parent class). It allows you to create a hierarchy of classes with shared attributes and methods.

Let's consider a real-life example of different types of vehicles:

In [21]:
class Vehicle:
    def __init__(self, make, model):
        self.make = make
        self.model = model

    def display_info(self):
        return f"This is a {self.make} {self.model}."

class Car(Vehicle):
    def drive(self):
        return "Car is driving."

class Motorcycle(Vehicle):
    def ride(self):
        return "Motorcycle is riding."

car = Car("Toyota", "Camry")
print(car.display_info())  # Output: This is a Toyota Camry.
print(car.drive())         # Output: Car is driving.

motorcycle = Motorcycle("Harley-Davidson", "Sportster")
print(motorcycle.display_info())  # Output: This is a Harley-Davidson Sportster.
print(motorcycle.ride())         # Output: Motorcycle is riding.

This is a Toyota Camry.
Car is driving.
This is a Harley-Davidson Sportster.
Motorcycle is riding.

In this example, the Car and Motorcycle classes inherit the attributes and method from the Vehicle class. They also have their own unique methods (drive() and ride()) in addition to the common display_info() method.

##### Access Modifiers (Public, Private, Protected):

Access modifiers control the visibility of class members (attributes and methods) within and outside the class. In Python, there are no strict access modifiers like in some other languages, but you can achieve similar behavior using naming conventions.

* Public (public):

Members are accessible from anywhere.
No special naming convention is used.


* Private (private):

Members are intended to be used within the class only.
Convention: Prefix the member name with an underscore (_).


* Protected (protected):

Members are intended to be used within the class and its subclasses.
Convention: Prefix the member name with two underscores (__).

In [22]:
class Person:
    def __init__(self, name, age):
        self.name = name         # Public
        self._age = age          # Protected
        self.__bank_balance = 0  # Private

    def show_balance(self):
        return self.__bank_balance

class Employee(Person):
    def show_age(self):
        return self._age

employee = Employee("John", 30)

print(employee.name)      # Public attribute
print(employee.show_age()) # Protected attribute
# print(employee.__bank_balance)  # This will cause an AttributeError
print(employee.show_balance())   # Private attribute via a method

John
30
0

In this example, the Person class has attributes with different access levels. The Employee class, which inherits from Person, can access the protected attribute _age, but cannot directly access the private attribute __bank_balance. It can, however, access the private attribute using a method (show_balance()).

#### tranform() in pandas

In pandas, the transform() function is used to apply a function to each group of a DataFrame created by the groupby() operation. The result of the transform() function is a new DataFrame or Series with the same shape as the original DataFrame, but with the values computed based on the group-wise operation.

The transform() function is particularly useful when you want to broadcast the results of the group-wise operation back to the original DataFrame, maintaining the original shape and alignment of the data.

Here's a simple example to demonstrate how transform() works:

In [1]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Value': [10, 15, 20, 30, 25, 35]
}

df = pd.DataFrame(data)

# Group by 'Category' and calculate the mean value for each group
grouped_mean = df.groupby('Category')['Value'].transform('mean')

# Add the calculated mean as a new column
df['Mean_Value'] = grouped_mean

print(df)

  Category  Value  Mean_Value
0        A     10   16.666667
1        A     15   16.666667
2        B     20   28.333333
3        B     30   28.333333
4        A     25   16.666667
5        B     35   28.333333

In this example, the transform() function calculates the mean value for each group defined by the 'Category' column. The calculated mean values are then broadcasted to the original DataFrame based on the alignment of the groups, and a new column 'Mean_Value' is added.

transform() can be used with various aggregation functions (e.g., 'mean', 'sum', 'count', etc.) or with custom functions. It's a powerful tool for applying group-wise operations while maintaining the original structure of the DataFrame.

#### as_index() in Pandas

In pandas, the as_index parameter is used in conjunction with the groupby() function to control whether the grouped columns should become the index of the resulting DataFrame or not.

When as_index is set to True (which is the default), the grouped columns become the index of the resulting DataFrame. This is useful when you want to perform further operations on the grouped data, as it allows for more efficient indexing and selection.

When as_index is set to False, the grouped columns are not set as the index, and the result will have a default integer index. This can be useful when you want to keep the original structure of the DataFrame intact and avoid turning the grouped columns into an index.

Here's an example to illustrate the difference:

In [2]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Value': [10, 15, 20, 30, 25, 35]
}

df = pd.DataFrame(data)

# Group by 'Category' and calculate the sum, with as_index set to True
grouped_result_true = df.groupby('Category', as_index=True)['Value'].sum()
print("Grouped with as_index=True:")
print(grouped_result_true)

# Group by 'Category' and calculate the sum, with as_index set to False
grouped_result_false = df.groupby('Category', as_index=False)['Value'].sum()
print("\nGrouped with as_index=False:")
print(grouped_result_false)

Grouped with as_index=True:
Category
A    50
B    85
Name: Value, dtype: int64

Grouped with as_index=False:
  Category  Value
0        A     50
1        B     85

In this example, when as_index is set to True, the resulting grouped DataFrame has the 'Category' column as the index. When as_index is set to False, the 'Category' column is not used as the index, and the result has a default integer index.

Using as_index=False can be helpful when you want to retain a more traditional DataFrame structure after grouping, especially if you intend to continue working with the grouped data in a tabular format.