##### Reversing a Python String
* With Accessing Characters from a string, we can also reverse them. 
* We can Reverse a string by writing [::-1] and the string will be reversed.

This code reverses the string str2 and prints the result. Let's break it down step by step:


str2[::-1]: In Python, when you use slicing with a negative step (-1 in this case), it reverses the sequence (string, list, etc.). So, str2[::-1] creates a new string that is a reversed version of str2.

Let's see how the reversal works:

The syntax for slicing in Python is start:stop:step.
If start is not specified, it defaults to the beginning of the sequence.
If stop is not specified, it defaults to the end of the sequence.
If step is not specified, it defaults to 1.
In our case, start and stop are not specified, which means the whole string will be considered. The step is -1, which means it will iterate over the string in reverse order, effectively reversing the string.

Here's how the slicing works kefile
Copy code
str2 = "growdataskills"
str2[::-1]
No start and stop specified, so it considers the entire string: "growdataskills"

step is -1, so it iterates in reverse order: "slliskatsadworg"

print(str2[::-1]): This line prints the result of the slicing operation, which is the reversed string "slliskatsadworg".

So, when you run this
utput will be:

Copy code
slliskatsadworg

In [69]:
str2 = "growdataskills"
print(str2[::-1])

slliksatadworg

#### String Immutability

In [1]:
# Can not reassign 
t= "GrowDataSkills"
type(t)

str

In [2]:
t[0] = "M"

TypeError: 'str' object does not support item assignment

In [3]:
original_string = "Hello"
new_string = original_string + " World!"  # Concatenation creates a new string.

In [5]:
new_string

'Hello World!'

In [6]:
original_string

'Hello'

##### in and not in

The in and not in operators in Python are used to check whether a particular element exists within a sequence (like a string, list, tuple, etc.). They return a Boolean value (True or False) based on whether the element is present in the sequence or not.

In [7]:
my_string = "Hello, World!"

In [8]:
"Hello" in my_string

True

In [9]:
"world" in my_string

False

In [10]:
"z" in my_string

False

In [11]:
"Hellos" not in my_string

True

### Python Tuple
In Python, a tuple is an ordered and immutable collection of elements. It is similar to a list, but unlike lists, tuples cannot be changed after they are created. Tuples are represented using parentheses ( ) and can contain elements of different data types, such as numbers, strings, or even other tuples.

#### Creating a tuple:

In [90]:
# Creating a tuple with elements
fruits_tuple = ('apple', 'banana', 'orange')
fruits_tuple

('apple', 'banana', 'orange')

In [93]:
type(fruits_tuple)

tuple

In [91]:
# Tuples can also have elements of different data types
mixed_tuple = (1, 'hello', 3.14, True)
mixed_tuple

(1, 'hello', 3.14, True)

In [92]:
type(mixed_tuple)

tuple

#### Accessing elements of a tuple:
You can access elements of a tuple using indexing, similar to string. The index starts from 0 for the first element, 1 for the second, and so on.

In [95]:
tup = (1, 'hello', 3.14, True)

In [96]:
tup[0]

1

In [97]:
tup[-1]

True

In [98]:
tup[0:2]

(1, 'hello')

#### Immutable nature of tuples:
Tuples are immutable, which meansonce they are created, you cannot modify, add, or remove elements from them.

In [99]:
tup = (1, 'hello', 3.14, True)

tup[0] = 'pear'

TypeError: 'tuple' object does not support item assignment

#### Tuple Basic Operation

In [100]:
len(tup)

4

In [101]:
tup1=(1,2,3)
tup2=(4,5,6)

In [102]:
tup1,tup2

((1, 2, 3), (4, 5, 6))

In [103]:
tup1+tup2

(1, 2, 3, 4, 5, 6)

In [105]:
tup2+tup1

(4, 5, 6, 1, 2, 3)

In [106]:
tup2*3

(4, 5, 6, 4, 5, 6, 4, 5, 6)

In [107]:
tup2*3+tup1

(4, 5, 6, 4, 5, 6, 4, 5, 6, 1, 2, 3)

In [108]:
tup1=(10,15,20,25,30,25,40)

In [109]:
min(tup1)

10

In [110]:
max(tup1)

40

#### Tuple unpacking:
You can also unpack a tuple into individual variables.

In [112]:
coordinates = (10, 20)
x, y = coordinates
print(x) 
print(y)

10
20

### Python Lists
In Python, a list is an ordered and mutable collection of elements. Lists are one of the most versatile and widely used data structures in Python. They can hold elements of different data types, such as numbers, strings, or even other lists. Lists are represented using square brackets [ ].

#### Creating a list:

In [115]:
# Creating a list with elements
numbers_list = [1, 2, 3, 4, 5]

numbers_list

[1, 2, 3, 4, 5]

In [116]:
type(numbers_list)

list

In [117]:
# Lists can also have elements of different data types
mixed_list = [1, 'hello', 3.14, True]

mixed_list

[1, 'hello', 3.14, True]

In [118]:
type(mixed_list)

list

#### Accessing elements of a list:
You can access elements of a list using indexing. The index starts from 0 for the first element, 1 for the second, and so on.

In [119]:
l1= [1, 'hello', 3.14, True]

In [120]:
l1[1]

'hello'

In [124]:
l1[-1]

True

In [123]:
l1[1:3]

['hello', 3.14]

#### Modifying elements of a list:
Lists are mutable, which means you can change their elements after they are created.

In [125]:
l1= [1, 'hello', 3.14, True]
l1[0] = 'pear'

l1

['pear', 'hello', 3.14, True]

#### Removing elements from a list:
You can remove elements from a list using methods like remove() or pop().

In [133]:
l1= [1, 'hello', 3.14, True]
l1.pop()

l1

[1, 'hello', 3.14]

In [129]:
l1= [1, 'hello', 3.14, True]
l1.remove('hello')

l1

[1, 3.14, True]

#### Adding elements to a list:
You can add elements to the end of a list using the append() method.

In [127]:
l1= [1, 'hello', 3.14, True]
l1.append("Shailja")

l1

[1, 'hello', 3.14, True, 'Shailja']

#### Other List Operations

In [134]:
l1= ['apple', 'banana', 'orange']
l2=['mango','guava']

l1+l2

['apple', 'banana', 'orange', 'mango', 'guava']

In [135]:
l1= [1, 'hello', 3.14, True]
l1.reverse()

l1

[True, 3.14, 'hello', 1]

In [137]:
l1= ['apple', 'banana', 'orange','mango','guava']
l1.sort()

l1

['apple', 'banana', 'guava', 'mango', 'orange']

In [138]:
l1= ['apple', 'banana', 'orange','mango','guava']
l1.insert(1,"lichi")

l1

['apple', 'lichi', 'banana', 'orange', 'mango', 'guava']

#### When we should use lists and when tuples in Python:

* Use Lists When:

You need a collection of items that can be changed or modified over time.
You want to add or remove elements from the collection dynamically.
The order of elements matters, and you need to maintain the original order.
You need to use built-in list methods for sorting, appending, or extending the collection.
You plan to perform various operations on the elements like searching, filtering, or counting.

Example Case:
Suppose you are building a to-do list application. Users can add, remove, and modify their tasks. In this case, using a list to store the tasks makes sense because you can easily add new tasks, mark them as completed, or remove them as the user interacts with the application.

* Use Tuples When:

You want to create a collection of items that should remain constant and immutable throughout the program's execution.
You need to use the collection as a key in a dictionary because dictionary keys must be immutable.
You want to guarantee that the order of elements will not change accidentally.
You want to use a collection as a set of coordinates or a point in space.


Example Case:
Suppose you are working on a geometric shapes application, and you want to represent different points in 2D space. In this case, using tuples for the coordinates is suitable because the coordinates of points should not change, and they should be used as keys in a dictionary.

### Python Dictionary

Dictionary is a collection of key-value pairs. They are unordered, mutable, and extremely useful for organizing and retrieving data quickly based on specific keys.

In [7]:
# Creating a dictionary of students and their scores
student_scores = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Emma": 88
}

In [8]:
student_scores

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 95, 'Emma': 88}

In [9]:
type(student_scores)

dict

In [10]:
student_scores.keys()

dict_keys(['Alice', 'Bob', 'Charlie', 'David', 'Emma'])

In [11]:
student_scores.values()

dict_values([85, 92, 78, 95, 88])

In [12]:
# Accessing a student's score

student_scores["Bob"]

92

In [13]:
# Adding a new student and their score

student_scores["Shailja"] = 99

In [14]:
student_scores

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 95, 'Emma': 88, 'Shailja': 99}

In [15]:
# Modifying a student's score

student_scores["Charlie"] = 81

In [16]:
student_scores

{'Alice': 85, 'Bob': 92, 'Charlie': 81, 'David': 95, 'Emma': 88, 'Shailja': 99}

In [18]:
# Removing a student and their score

del student_scores["Emma"]

In [19]:
student_scores

{'Alice': 85, 'Bob': 92, 'Charlie': 81, 'David': 95, 'Shailja': 99}

In [17]:
# Checking if a student exists in the dictionary

if "Bob" in student_scores:
else:
    print("Bob's score does not exist in the dictionary.")

Bob's score exists in the dictionary.

### Python Set

It is an unordered collection of unique elements. It is denoted by curly braces {} and can contain elements of different data types, such as integers, strings, or even other sets. 

* The key feature of a set is that it does not allow duplicate values, so each element in a set must be unique. 
* Sets are mutable, meaning you can add or remove elements after creating them.

In [20]:
my_set = {1, 2, 3, 4}

In [21]:
my_set

{1, 2, 3, 4}

In [25]:
# adding duplicates

my_set= {1, 3, 2, 3, 2, 4}

In [26]:
my_set

{1, 2, 3, 4}

#### Adding elements to a set:
You can add elements to a set using the add() method.

In [27]:
fruits = {'apple', 'banana', 'orange'}

In [28]:
fruits.add('grape')

In [29]:
fruits

{'apple', 'banana', 'grape', 'orange'}

In [30]:
fruits.add('apple')

In [31]:
fruits

{'apple', 'banana', 'grape', 'orange'}

In [32]:
fruits.update(['lichi','guava'])

In [33]:
fruits

{'apple', 'banana', 'grape', 'guava', 'lichi', 'orange'}

#### Removing elements from a set:
You can remove elements from a set using the remove() method. If the element is not present in the set, it will raise a KeyError. Alternatively, you can use the discard() method, which does not raise an error if the element is not found.

In [34]:
fruits = {'apple', 'banana', 'orange'}

In [35]:
fruits.remove('banana')

In [36]:
fruits

{'apple', 'orange'}

In [37]:
# Trying to remove a non-existing element

fruits.remove('grape')

KeyError: 'grape'

In [38]:
fruits.discard('grape')

In [39]:
fruits

{'apple', 'orange'}

#### Set Functions:

In [40]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [41]:
# Union: Elements present in either set

union_set = set1.union(set2)


union_set

{1, 2, 3, 4, 5}

In [42]:
# Intersection: Elements present in both sets

intersection_set = set1.intersection(set2)


intersection_set

{3}

In [43]:
# Difference: Elements present in set1 but not in set2

difference_set = set1.difference(set2)


difference_set

{1, 2}