##### String join()

* In Python, the join() method is a string method that allows you to concatenate elements from an iterable (e.g., a list, tuple, or string) into a single string. It creates a new string by joining each element of the iterable with a specified string as a separator.
  
* The syntax for using the join():

  separator_string.join(iterable)
  
* Here,separator_string is the string that will be used to separate the elements in the final string

Join is important and widely used

In [9]:
words = ["Hello", "world", "Python", "programming"]

In [10]:
print("".join(words))

HelloworldPythonprogramming

In [7]:
# Joining elements of a list into a single string using a comma as the separator
fruits = ["apple", "banana", "orange", "mango"]
separator = ","
result = separator.join(fruits)
print(result)

apple,banana,orange,mango

* 
When joining a string with a dictionary, it will join with the keys of a Python dictionary, not with values.

In [8]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [3]:
myTuple = ("John", "Peter", "Vicky")

x = "".join(myTuple)

print(x)

JohnPeterVicky

##### Nested dictionary 
It is a dictionary that contains other dictionaries as its values. It allows you to create hierarchical data structures and is particularly useful for representing data with multiple levels of information. Here's an example of a nested dictionary in Python:

In [24]:
# Example of a nested dictionary representing information about employees
employees = {
    "John": {
        "age": 30,
        "position": "Manager",
        "salary": 50000
    },
    "Alice": {
        "age": 25,
        "position": "Software Engineer",
        "salary": 40000
    },
    "Bob": {
        "age": 28,
        "position": "Data Scientist",
        "salary": 45000
    }
}

In this example, employees is a dictionary where the keys are the names of the employees ("John," "Alice," and "Bob"), and the values are inner dictionaries containing information about each employee. Each inner dictionary contains three key-value pairs: "age," "position," and "salary."

You can access the nested data by chaining the keys together. For example:

In [25]:
# Accessing information about John
print(employees["John"]["age"])  # Output: 30
print(employees["John"]["position"])  # Output: "Manager"
print(employees["John"]["salary"])  # Output: 5000

30
Manager
50000

In [26]:
employees

{'John': {'age': 30, 'position': 'Manager', 'salary': 50000},
 'Alice': {'age': 25, 'position': 'Software Engineer', 'salary': 40000},
 'Bob': {'age': 28, 'position': 'Data Scientist', 'salary': 45000}}

You can also modify or add new data to the nested dictionary:

In [27]:
# Modifying data for Bob
employees["Bob"]["salary"] = 48000

In [28]:
employees

{'John': {'age': 30, 'position': 'Manager', 'salary': 50000},
 'Alice': {'age': 25, 'position': 'Software Engineer', 'salary': 40000},
 'Bob': {'age': 28, 'position': 'Data Scientist', 'salary': 48000}}

In [29]:
# Adding a new employee
employees["Eve"] = {
    "age": 22,
    "position": "Intern",
    "salary": 25000
}

In [30]:
employees

{'John': {'age': 30, 'position': 'Manager', 'salary': 50000},
 'Alice': {'age': 25, 'position': 'Software Engineer', 'salary': 40000},
 'Bob': {'age': 28, 'position': 'Data Scientist', 'salary': 48000},
 'Eve': {'age': 22, 'position': 'Intern', 'salary': 25000}}

### Python Decision Making Statement

Decision-making statements, also known as conditional statements, are fundamental programming constructs that allow a program to make decisions and execute different blocks of code based on certain conditions. These statements are essential for adding logic and flexibility to your code, enabling it to adapt and respond dynamically to different scenarios.

In real life, we constantly make decisions based on certain conditions. Let's take the example of deciding whether or not to take an umbrella before leaving the house:

Real-life example: Deciding to Take an Umbrella

Imagine you are about to leave your house, and you look outside to check the weather conditions. Based on what you see, you make a decision about whether to take an umbrella with you or not.

#### If-else statement

In [46]:
a=20
b=10

In [47]:
if a>b:
    print("b is greater than a") # indentation

b is greater than a

In [48]:
if b>a:
    print("b is greater than a")

In [49]:
if b>a:
    print("b is greater than a") 
else:
    print("a is greater than b")

a is greater than b

In [50]:
a = 15
b = 30
c = 25

In [52]:
if (a >= b) and (a >= c):
    print("a is largest") 
elif (b >= a) and (b >= c):
    print("b is largest") 
else:
    print("c is largest")

b is largest

* if with tuple

In [53]:
tup1=('d','e','f')

In [56]:
if 'd' in tup1:
    print("Value is present in tup1")

Value is present in tup1

In [57]:
if 'z' in tup1:
    print("Value is present in tup1")
else:
    print("Value is not present in tup1")

Value is not present in tup1

* if with list

In [58]:
l1=['a','b','c']

In [65]:
l1

['a', 'z', 'c']

In [61]:
if l1[1]=='b':
    l1[1]='z'

In [62]:
l1

['a', 'z', 'c']

* if with dictionary

In [68]:
grades = {'Math': 85, 'Science': 90, 'History': 78}

In [69]:
grades

{'Math': 85, 'Science': 90, 'History': 78}

In [74]:
if grades['Math']==85:
    grades['Math']= grades['Math'] + 85

In [75]:
grades

{'Math': 170, 'Science': 90, 'History': 78}

### Looping statement

It allows you to execute a block of code repeatedly based on a certain condition. Just like real-life examples of doing something repeatedly until a specific condition is met, let's consider the example of making pancakes.

Real-life example: Making Pancakes

Imagine you want to make pancakes for breakfast, and you have a recipe to follow. The recipe calls for making multiple pancakes until you run out of batter. You'll keep flipping pancakes on the griddle until all the batter is used up. This repetitive process can be modeled using a looping statement.

### While Loop

In [13]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [16]:
num = 4
i = 1

while i <= 10:
    print(num, " * ", i, " = ",num*i)
    i += 1

4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
4  *  10  =  40

### For Loop

In [ ]:
fruits = ["apple", "banana", "orange"]

In [3]:
for i in fruits:
    print(i)

apple
banana
orange

In [2]:
numbers = [1, 2, 3,]
names = ["Alice", "Bob", "Charlie"]

In [3]:
for i in numbers:
    for j in names:
        print(i,j)

1 Alice
1 Bob
1 Charlie
2 Alice
2 Bob
2 Charlie
3 Alice
3 Bob
3 Charlie

#### List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

SYNTAX: newlist = [expression for item in iterable if condition == True]-->
The return value is a new list, leaving the old list unchanged.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [4]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

* With list comprehension you can do all that with only one line of code:

In [5]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [7]:
newlist1 = [x for x in fruits]
newlist1

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [9]:
newlist2 = [x for x in range(10)]
newlist2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
newlist3 = [x for x in range(10) if x < 5]
newlist3

[0, 1, 2, 3, 4]

In [11]:
newlist4 = [x.upper() for x in fruits]
newlist4

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

#### Break And Continue

In Python, break and continue are control flow statements used in loops to alter the loop's behavior. Here's an explanation of each with examples:

* break: The break statement is used to exit a loop prematurely. When encountered, it immediately terminates the loop, and the program continues executing the code after the loop.
* continue: The continue statement is used to skip the rest of the current iteration and continue with the next iteration of the loop.

In [3]:
# Example 1: Breaking out of a loop based on a condition
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numbers:
    if num == 5:
        print("Found 5, breaking out of the loop.")
        break
    print(num)

1
2
3
4
Found 5, breaking out of the loop.

In [4]:
# Example 2: Skipping numbers divisible by 3 in a loop
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numbers:
    if num % 3 == 0:
        print(f"Skipping {num}, it's divisible by 3.")
        continue
    print(num)

1
2
Skipping 3, it's divisible by 3.
4
5
Skipping 6, it's divisible by 3.
7
8
Skipping 9, it's divisible by 3.
10

### Functions

In [21]:
def hello():
    print("Hello World")

In [26]:
hello()

Hello World

In [ ]:
def greet(name):
    print("Hello ",name)

In [29]:
greet("Shailja")

Hello  Shailja

In [23]:
def add_50(x):
    return x+50

In [24]:
add_50(10)

60

In [25]:
add_50(50)

100

In [33]:
def even_odd(num):
    if num%2==0:
        print(num," is even")
    else:
        print(num," is odd")

In [34]:
even_odd(2)

2  is even

### Lambda Function

In [37]:
square = lambda x: x ** 2

square(5)

25

In [ ]:
#Lambda with filter

In [48]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

In [50]:
even_numbers

[2, 4, 6, 8, 10]

In [39]:
#Lambda with map

In [45]:
numbers = [1, 2, 3, 4, 5]

In [46]:
squared_numbers = list(map(lambda x: x ** 2, numbers))

In [47]:
squared_numbers

[1, 4, 9, 16, 25]

In [51]:
#Lambda with reduce- To get consolidated(one) outcome

In [52]:
from functools import  reduce

In [53]:
numbers = [1, 2, 3, 4, 5]

In [56]:
product = reduce(lambda x, y: x + y, numbers)

In [57]:
product

15